@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{


    Layout = "~/Views/Shared/_LayoutPortfolio.cshtml";
    ViewData["Title"] = "Portfolio";

}


<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="~/portfolio/assets/img/squall.png" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Charles E. S. Ndiaye</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Web / Software / SharePoint Developer - Designer </p>
    </div>
</header>
<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Open Source Projects</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            @*<div data="https://github.com/ManuSquall/Tweeter_SquallBot" class="github-pinner flat" style="visibility: visible;"></div>
            <div data="https://github.com/ManuSquall/squalltalk" class="github-pinner flat" style="visibility: visible;"></div>*@

            <!-- Portfolio Item Hidden version-->
            @*<div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div data="https://github.com/ManuSquall/Tweeter_SquallBot" class="github-pinner flat" style="visibility: visible;"></div>
                    </div>
                    <img class="img-fluid" src="~/portfolio/assets/img/portfolio/cabin.png" alt="..." />
                </div>
            </div>*@
            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                    <div data="https://github.com/ManuSquall/Restaurant-Web-App" class="github-pinner flat"  style="visibility: visible;"></div>
                </div>
            </div>
            <!-- Portfolio Item 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                    <div data="https://github.com/ManuSquall/squalltalk" class="github-pinner flat" style="visibility: visible;"></div>
                </div>
            </div>
            <!-- Portfolio Item 3-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                    <div data="https://github.com/ManuSquall/QIUM-project" class="github-pinner flat" style="visibility: visible;"></div>
                </div>
            </div>
            <!-- Portfolio Item 4-->
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                    <div data="https://github.com/ManuSquall/basic_winform_calculator" class="github-pinner flat" style="visibility: visible;"></div>
                </div>
            </div>
            <!-- Portfolio Item 5-->
            <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal5">
                    <div data="https://github.com/ManuSquall/Tweeter_SquallBot" class="github-pinner flat" style="visibility: visible;"></div>
                </div>
            </div>
            <!-- Portfolio Item 6-->
            <div class="col-md-6 col-lg-4">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
                    <div data="https://github.com/ManuSquall/banque_du_peuple" class="github-pinner flat" style="visibility: visible;"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row ">
            @*<div class="col-lg-4 ms-auto"><p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p></div>*@
            <div class="align-self-center mt-4"><p class="lead squall-p-justify">Je me présente comme un Web / Software Developer mais aussi Graphic Designer Junior et Microsoft 365 / SharePoint Developer Enthusiast en annexe et freelance. A côté de cela je suis passionné des nouvelles technologies, des jeux vidéos comme un bon geek dans l'âme :-) ainsi que du design. Je suis ouvert à toute les opportunités d'emplois mais aussi  de partages de connaissances et d'expériences. Au plaisir! </p></div>
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="#!">
                <i class="fas fa-eye me-2"></i>
                Check my resume!
            </a>
        </div>
    </div>
</section>
<!-- Contact Section-->
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Me</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <form>
                    <div class="form-floating">
                        <input class="form-control" id="inputName" type="text" placeholder="Enter your name..." />
                        <label for="inputName">Name</label>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="inputEmail" type="email" placeholder="Enter your email..." />
                        <label for="inputEmail">Email address</label>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number..." />
                        <label for="inputPhone">Phone Number</label>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" id="inputMessage" placeholder="Enter your message here..." style="height: 12rem"></textarea>
                        <label for="inputMessage">Message</label>
                    </div>
                    <br />
                    <button class="btn btn-primary btn-xl" type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Location</h4>
                <p class="lead mb-0">
                    Senegal, Dakar
                    <br />
                    Ouakam, Comico
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Around the Web</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/ManuSquall"><i class="fab fa-fw fa-github"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/manusquall"><i class="fab fa-fw fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/charles-emmanuel-ndiaye-a838b5148/"><i class="fab fa-fw fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.behance.net/manusquall"><i class="fab fa-fw fa-behance"></i></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">Email</h4>
                <p class="lead mb-0">
                    charles.ndiaye@manosquall.onmicrosoft.com
                    <br />
                    manosquall@outlook.fr
                </p>
            </div>
        </div>
    </div>
</footer>
