@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Squallor :-) !</h1>
    <p>This is my game development space, where i test and deploy everything ☺!!.</p>
</div>
